// Variables de colores
$primary-color: #ffffff;
$text-color: #ffffff;
$border-color: #ffffff;
$background-color: #000000;

.contenedor-cards{
  border: 2px solid rgb(255, 255, 255);
}

.row{
  padding: 12px;
  background-color:black;
  border-radius: 10px;
  display: flex;
  justify-content: end;
}

.Title{
  color: $text-color;

}
.card {

  background-color: $background-color;
  border: 2.5px solid $border-color;
  padding: 1.5rem;
  width: 300px;
  
  
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-color;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color: $text-color;
  display: flex;
  text-align: center;
}


