<div class="container-fluid contenedor-cards">
  <div class="row "> 
    <h2 class="text-center text-white mt-8">Preguntas frecuentes</h2>
    <div class="col-md-4 col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">¿Cómo es el envío?</h5>
          <p class="card-text">En nombre de AZ STORE, entendemos la importancia de recibir tus productos de manera rápida y segura. Nuestro servicio de envío nacional está diseñado para brindarte la mejor experiencia. Tu pedido estará en tus manos en tan solo 3 a 5 días hábiles.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Métodos de pago</h5>
          <p class="card-text">Simplificamos tus compras. Aceptamos PSE, Efecty Y Transferencias. Además, puedes realizar tus compras directamente por WhatsApp. ¡Tu comodidad es nuestra prioridad!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Cambios y devoluciones</h5>
          <p class="card-text">Si necesitas hacer cambios y devoluciones, el proceso es fácil. Contáctanos directamente por WhatsApp y nuestro equipo estará encantado de ayudarte!</p>
        </div>
      </div>
    </div>
  </div>
</div>
