// Variables de colores
$primary-color: #ffffff;
$text-color: #ffffff;
$border-color: #ffffff;
$background-color: #000000;

.container{
  height: 1000px;
  width: auto;
  display: flex;
align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row{
  padding: 12px;
  background-color: black;
 
}
.card {
  background-color: $background-color;
  border: 2.5px solid $border-color;
  cursor: pointer;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-color;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color: $text-color;
  line-height: 1.5;
}

.card:hover {
  border-color: $primary-color;
  transition: all 10s ;
}
 
