<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¿Cómo es el envío?</h5>
          <p class="card-text">En nombre de AZ-Store, entendemos la importancia de recibir tus productos de manera rápida y segura. Nuestro servicio de envío nacional está diseñado para brindarte la mejor experiencia. Tu pedido estará en tus manos en tan solo 3 a 5 días hábiles.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-page">
          <h5 class="card-title">Medios de pago</h5>
          <p class="card-text">Simplificamos tus compras. Aceptamos tarjetas de crédito, débito, PSE, Efecty, y Baloto a través de Payu. Además, puedes realizar tus compras directamente por WhatsApp. ¡Tu comodidad es nuestra prioridad!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-devoluciones">
          <h5 class="card-title">Cambios y devoluciones</h5>
          <p class="card-text">Si necesitas hacer cambios y devoluciones, el proceso es fácil. Contáctanos directamente por WhatsApp al +57 3054658138 y nuestro equipo estará encantado de ayudarte!</p>
        </div>
      </div>
    </div>
  </div>
</div>