
    <nav>
        <div class="logo-nav position-relative ">  
            <a class="m-2"href="#">AZ STORE</a>   
        </div>
        
        <div class="link-section position-absolute gap-3" style="right: 400px;">
            
            <a class="m-2"href="#camisetas">CAMISETAS</a>
            <a class="m-2"href="/Bolsos/bolsos.html" target="_blank">BOLSOS UNISEX</a>
            <a class="m-2"href="/Sobre_Nosotros/nosotros.html" target="_blank">NOSOTROS</a>
            <a class="m-2"href="#gorras">GORRAS</a>
            <a class="m-2"href="accesorios">ACCESORIOS</a>
            
        </div>

        <div class="icons-nav  position-absolute  m-3 "  style="right: 270px; top: 0px;">
        <button class="bi bi-person-circle btn fs-3  text-white"></button>          
        </div> 

        <form class="d-flex position-absolute end-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success " type="submit">Buscar</button>
        </form> 
        
        
    </nav>
    

    
    
    
    
    
    