
    <nav>
        <div class="logo-nav position-relative ">  
            <a class="m-2"href="#">AZ STORE</a>   
        </div>
        
        <div class="link-section position-absolute gap-3" style="right: 400px;">
            
            <a class="m-3" href="/lista_de_productos/camisetas" >CAMISETAS</a>
            <a class="m-3" href= "/lista_de_productos/bolsos" >BOLSOS</a>
            <a class="m-3" href="/lista_de_productos/gorras" >GORRAS </a>
            <a class="m-3 "href="#nosotros">NOSOTROS</a>

            <div class="dropdown m-3" (mouseover)="showDropdown = true" (mouseleave)="showDropdown = false">
                <a class="m-3"href="accesorios">ACCESORIOS</a>
                <div *ngIf="showDropdown" class="dropdown-menu">
                    <a href="#">Perfumeria</a>
                    <a href="#">Relojería</a>
                    <a href="#">Gafas</a>
                    <a href="#">Correas</a>
                </div>
            </div>
        </div>
            

        <div class="icons-nav  position-absolute  m-3 "  style="right: 305px; top: 10px;">
        <button class="bi bi-person-circle btn fs-3  text-white"></button>          
        </div> 

        <form class="d-flex position-absolute" role="search" style="right: 30px;">
          <input class="form-control me-2" type="search" placeholder="¡Busca tus productos!" aria-label="Search">
          <button class="btn btn-outline-success " type="submit">Buscar</button>
        </form> 
        
        
    </nav>
    

    
    
    
    
    
    