
    <nav>
        <div class="logo-nav position-relative ">  
            <a class="m-2"href="#">AZ STORE</a>   
        </div>
        
        <div class="link-section position-absolute gap-3" style="right: 400px;">
            
            <a class="m-3" href="/product-list" >CAMISETAS</a>
            <a class="m-3"href="/Bolsos/bolsos.html" >BOLSOS UNISEX</a>
            <a class="m-3"href="/Sobre_Nosotros/nosotros.html" >NOSOTROS</a>
            <a class="m-3"href="#gorras">GORRAS</a>
            <a class="m-3"href="accesorios">ACCESORIOS</a>
            
        </div>

        <div class="icons-nav  position-absolute  m-3 "  style="right: 305px; top: 10px;">
        <button class="bi bi-person-circle btn fs-3  text-white"></button>          
        </div> 

        <form class="d-flex position-absolute" role="search" style="right: 30px;">
          <input class="form-control me-2" type="search" placeholder="¡Busca tus productos!" aria-label="Search">
          <button class="btn btn-outline-success " type="submit">Buscar</button>
        </form> 
        
        
    </nav>
    

    
    
    
    
    
    