<footer>
  <div class="container text-center py-1">
    <div class="row">
      <div class="col-12">
        <div class="social-icons">
          <a href="https://www.facebook.com" class="facebook" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://wa.me" class="whatsapp" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.instagram.com/az.store15_co/" class="instagram" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div> 
    </div>
    <section>
      <p><strong>Correo Electronico:</strong> chauxmiguel83&#64;gmail.com</p>
      <p><strong>Contacto:</strong> +57 3144647130</p>
      <p> &copy; 2024. Todos los derechos reservados.</p>
    </section>
  </div>
</footer> 
