:host {
  display: block;

background: linear-gradient(90deg, rgb(26, 26, 26) 0%, rgb(65, 64, 64) 35%, rgb(39, 38, 38) 100%);
  color: white; 
  padding: 30px 0;
  position:relative;
  height: 300px;
  
}
.social-icons {
  display: flex;
  justify-content: center; 
  align-items: end;
  gap: 15px; 
  margin: 10px;
  padding: 20px;

  a {
    font-size: 2rem;
    color: white; 
    transition: 0.7s ease; 
    text-decoration: none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    

    &.facebook:hover {
      background-color: #4267B2;
    }
    &.whatsapp:hover {
      background-color: #25D366; 
    }
    &.instagram:hover {
      background-color: #E4405F; 
    }
  }
}
