<div class="fondo">
    <h2 class="text-center mt-5 mb-3 fw-bold fst-italic">¡PRODUCTOS DESTACADOS DE LA TIENDA!</h2>
    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div *ngFor="let card of cards; let i= index" class="carousel-item active" [ngClass]="{'active': i=== 0}">
                <div class="row g-3 text-center">
                    <div class="col-md-3">
                        <div class="card">
                            <img [src]="card.imgUrl" class="card-img-top" [alt]="card.title">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fst-italic"> {{card.title}} </h5>
                                <p class="card-text"> {{card.description}} </p>
                                <a href="#" class="btn btn-primary">{{card.buttonText}} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botones de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev" >
            <i class="bi bi-chevron-compact-left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
            <i class="bi bi-chevron-compact-right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


