.fondo{
  background-color: rgb(118, 118, 118);
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
h2{
  color: black;
}


.carousel-item {
    padding: 80px ;
    padding-top: 55px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 55%;
  transform: translateY(-40%);
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.4s ease-in-out;

  &.carousel-control-prev {
    left: 20px;
  }

  &.carousel-control-next {
    right: 20px;
  }

  i {
    color: rgb(0, 0, 0); 
    font-size: 40px; 
    transition: transform 0.3s ease-in-out; 
  }
}

