

.details-product {
    padding: 20vh;
    margin-bottom: 0px !important;
    

    .img-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width:400px;
      height: auto;
  }
}

    .product-title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }
  
    .product-description {
      font-size: 1rem;
      line-height: 1.5;
      color: #555;
    }
  
    .product-details {
      font-size: 0.95rem;
      margin-top: 1rem;
  
      li {
        margin-bottom: 0.5rem;
      }
    }
  

  .link-container{
    display: flex;
    justify-content: center;
  }
    
    a {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      width: 200px;
      font-size: 14px;
      font-weight: bold;
      background-color: green;
      color: white;
      border: none;
      &:hover {
        background-color:rgb(1, 170, 1);
        color: white;
        
      }
    }
  
  