.details-product {
    padding: 20vh;
    .product-title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }
  
    .product-description {
      font-size: 1rem;
      line-height: 1.5;
      color: #555;
    }
  
    .product-details {
      font-size: 0.95rem;
      margin-top: 1rem;
  
      li {
        margin-bottom: 0.5rem;
      }
    }
  
    a {
      display: flex;
      justify-content: center;
      margin: 0 !important;
      width: 200px;
      font-size: 14px;
      font-weight: bold;
      background-color: green;
      color: rgb(42, 196, 3);
      border: none;
      &:hover {
        background-color:rgb(2, 139, 2);
        color: white;
      }
    }
  }
  