<div class="details-product container my-5">
    <div class="row">
      <!-- Imagen del producto -->
      <div class=" img-container  col-md-6 text-center border border-3 p-5">
        <img 
           [src]="'./assets/images/'+productData.image_url"
          alt="Imagen de {{ productData.product_name }}" 
          class="img-fluid rounded shadow-sm">
      </div>
      <!-- Información del producto -->
      <div class="col-md-6  border border-3 p-5">
        <h1 class="product-title mb-5" style="text-align: center;"> {{productData.product_name}} </h1>
        <p class="product-description mb-5"> {{productData.description}} </p>

        <p><b>Unidades: </b>{{productData.stock_quantity}} </p>
        <p class="mb-1"><b>Precio:</b> {{productData.price}} </p>
        <div class="link-container"> 

          <a class="btn"href="https://wa.me/573133635338"  target="_blank">!Comprar ahora!</a>  
        </div>
      </div>
    </div>
  </div>
  
